<div class="container">
    <div>
    <h2>Ajouter un Vehicule :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Vehicule</label>
        <input type="text" [(ngModel)]="newVehicule.idVehicule"
        name="idVehicule" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Marque Vehicule</label>
        <input type="text"[(ngModel)]= "newVehicule.marque"
        name="marque" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
            <label >Couleur Vehicule</label>
            <input type="text"[(ngModel)]= "newVehicule.couleur"
            name="couleur" class="form-control">
            </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix Vehicule</label>
        <input type="number" [(ngModel)]= "newVehicule.prixVehicule"
        name="prixVehicule" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newVehicule.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="mt-2">
        <button type="submit" (click)="addVehicule()" class="btn btn-success">Ajouter</button>
         <div>{{message}}</div>    
    </div>
        </form>
        </div>